<div class="table-responsive">
<table class="table table-hover table-bordered">
<thead>
        <tr>
          <th class="NoNewline" scope="row">序号</th>
          <th>姓名</th>
          <th class="NoNewline">中文</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>10</th>
          <th>11</th>
          <th>12</th>
          <th>13</th>
          <th>14</th>
          <th>15</th>
          <th>16</th>
          <th>17</th>
          <th>18</th>
          <th>19</th>
          <th>20</th>
          <th>21</th>
          <th>22</th>
          <th>23</th>
          <th>24</th>
          <th>25</th>
          <th>26</th>
          <th>27</th>
          <th>28</th>
          <th>29</th>
          <th>30</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <th>Ruby</th>
          <th class="NoNewline">张蓉</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
          <th></th>
          <th></th>
          <th>2hrs</th>
          <th>√</th>
          <th>A/2</th>
          <th>√</th>
          <th>O</th>
          <th>√</th>
          <th>M</th>
          <th>√</th>
          <th>√</th>
          <th>O</th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
        </tr>
        <tr>
          <th scope="row">2</th>
          <th>Summer</th>
          <th class="NoNewline">夏娟娟</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
          <th></th>
          <th></th>
          <th>2hrs</th>
          <th>√</th>
          <th>A/2</th>
          <th>√</th>
          <th>O</th> 
          <th>√</th>
          <th>M</th>
          <th>√</th>
          <th>√</th>
          <th>O</th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
          <th>√</th>
        </tr>
      </tbody>
</table>
</div>