 
    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Project name</h3>

        <nav class="navbar navbar-light bg-faded rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-toggleable-md show" id="navbarCollapse">
            <ul class="nav navbar-nav text-md-center justify-content-md-between">
              <li class="nav-item active">
                <a class="nav-link" href="userSearch">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="userList">Staff</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="attendance">Monthly Attendance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Full Attendance Bonus</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href='#' id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Setting</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="userAdd">Add Staff</a>
                  <a class="dropdown-item" href="#">Delete Staff</a>
                  <a class="dropdown-item" href="#">Add Leave</a>
                  <a class="dropdown-item" href="#">Delete Leave</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <router-outlet></router-outlet>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->